    body {
        background-color: #f4f4f4;
        margin: 0%;
        padding: 0%;
        font-family: Arial, Helvetica, sans-serif;
    }
    header {
        background-color: #333;

    }

    nav {
        padding: 20px;
        text-align: center;
    }

    nav ul {
        list-style: none;
        padding: 0;
        margin: 10px 0 0 0;
    }

    nav ul li {
        display: inline;
        margin: 0 10px;
    }

    nav ul li a {
        text-decoration: none; 
        color: white;
    }

    h1 {
        color: white;
    }

    .footertext {
        margin: 0;
        color: white;
        text-align: center;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 10px;
        text-align: center;
    }

    .container {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .post1,
    .post2 {
        background: #fff;
        padding: 24px;
        width: 500px;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    }

    .kucukresim1 {
        width: 400px;
        height: 200px;
        border-radius: 8px;
    }

    .kucukresim2 {
        width: 400px;
        height: 200px;
        border-radius: 8px;
    }

    .sonbloglartext {
        margin-left: 21%;
        font-size: 24px;
        color: #333
    }

    .baslik1,
    .baslik2 {
        color: #333;
    }

    .baslik1 a,
    .baslik1 a:visited,
    .baslik2 a,
    .baslik2 a:visited {
        color: inherit;
        text-decoration: none;
    }

    p {
        color: #666;
    }

    .blogbaslik1,
    .blogbaslik2 {
        color: #333;
    }

    .blogpost1,
    .blogpost2 {
        background: #fff;
        padding: 24px;
        width: 500px;
        height: 100%;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
        overflow: hidden;
    }

    .blogkucukresim1,
    .blogkucukresim2 {
        width: 400px;
        height: 200px;
        border-radius: 8px;
    }

    .blogcontainer{
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }